.icon-button-container {
  background-color: transparent;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  transition: all 125ms ease-in;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #dddddd;
  }

  .icon-button {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }
}
