.lotto-payment-container {
  padding-top: calc(112px + 26px);
  padding-bottom: 104px;
  min-height: (100vh);

  .back-fixed-panel {
    position: fixed;
    top: 82px;
    padding-top: 30px;
    padding-bottom: 18px;
    z-index: 1;
  }
}
