@import "assets/stylesheets/typography";

.withdraw-form-wrapper {
  border-radius: 8px;
  padding: 16px;
}

.vertical-chevron-icon {
  @extend h2;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.horizontal-chevron-icon {
  @extend h2;
  align-items: center;
  justify-content: center;
}
