@import "assets/stylesheets/colors";

.button-container {
  cursor: pointer;
  height: 40px;
  border-radius: 20px;
  transition: all 256ms ease-in-out;
  border: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  *:focus {
    outline: none;
  }

  &.normal {
    background-color: $primary-blue;

    &:hover {
      background-color: $secondary-blue;
    }
  }

  &.outline {
    border: solid 1px $primary-blue;
    background-color: transparent;

    .button-text {
      color: $primary-blue;
    }

    &:hover {
      background-color: $primary-blue;

      .button-text {
        color: $primary-text;
      }
    }
  }

  &.small {
    height: 26px;
    border-radius: 13px;
  }

  &.medium {
    height: 40px;
    border-radius: 20px;
  }

  &.large {
    height: 44px;
    border-radius: 22px;
  }

  .button-icon {
    width: 24px;
    height: 24px;
  }

  .button-text {
    text-align: center;
  }

  &.disabled {
    opacity: 0.3;
    cursor: no-drop;

    &.normal {
      &:hover {
        filter: unset;
      }
    }

    &.outline {
      &:hover {
        background-color: transparent;

        .button-text {
          color: $primary-blue;
        }
      }
    }
  }
}
