@import "assets/stylesheets/typography";
@import 'assets/stylesheets/colors';

.register-step-3-form {
  span.header-remark {
    @extend .subtitle-2;
    margin-left: 8px;
  }

  .select-bank-header {
    font-family: "SukhumvitSet-Bold";
    font-size: 18px;
    line-height: 1.5;
    color: #777777;
  }

  .select-bank-error-message {
    @extend .subtitle-2;
    padding-top: 4px;
    min-height: 24px;
    text-align: left;
    pointer-events: none;
    color: $secondary-red;
    visibility: hidden;
  }
}
