.deposit-form-wrapper {
  
  .deposit-title {
    padding-top: 20px;
    font-family: "SukhumvitSet-Bold";
    font-size: 24px;
    line-height: 1.13;
    color: #777777;
  }
  
  .deposit-description-text {
    font-family: "SukhumvitSet-Bold";
    font-size: 14px;
    line-height: 1.93;
    color: #bb130a;
  }

  .select-bank-header {
    font-family: "SukhumvitSet-Bold";
    font-size: 18px;
    line-height: 1.5;
    color: #777777;
  }
}