.lotto-favorite-form-container {
  padding-top: 112px;
  padding-bottom: 104px;
  min-height: 100vh;

  .action-favorite-wrapper {
    max-width: 120px;
  }

  .edit-title-panel-wrapper {
    max-width: 100px;
    width: 100%;
  }
}