.summary-lotto-modal-container {
  border: solid 1px #707070;
  background-color: #ffffff;
  border-radius: 16px;

  .summary-lotto-modal-title {
    font-family: "SukhumvitSet-Bold";
    font-size: 24px;
    line-height: 1.13;
    text-align: left;
    color: #777777;
  }

  .lotto-name-type {
    font-family: "SukhumvitSet-Bold";
    font-size: 20px;
    line-height: 1.35;
    text-align: left;
    color: #777777;
  }

  .lotto-row {
    background-color: #3587f1;
    height: 44px;
    margin-left: 0px;
    margin-right: 0px;

    .lotto-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .lotto-number-text {
        font-family: "SukhumvitSet-Bold";
        font-size: 24px;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        width: 55px;
      }

      .lotto-value-wrapper {
        flex: 1;
        padding: 4px;
        display: flex;
        .lotto-value-container {
          flex: 1;
          background-color: white;
          border-radius: 8px;
          padding: 4px;
          padding-right: 8px;

          text-align: right;
          font-family: "SukhumvitSet-Bold";
          font-size: 16px;
          line-height: 1.69;
          color: #777777;
        }
      }

      .lotto-rate-text {
        font-family: "SukhumvitSet-Bold";
        font-size: 10px;
        line-height: 2.7;
        text-align: left;
        color: #ffffff;
        width: 55px;
      }

      .lotto-win-label {
        font-family: "SukhumvitSet-Bold";
        font-size: 12px;
        line-height: 2.25;
        text-align: center;
        color: #ffffff;
        width: 55px;
      }

      .lotto-benefit-text {
        font-family: "SukhumvitSet-Bold";
        font-size: 16px;
        line-height: 1.69;
        text-align: left;
        color: #ffffff;
        width: 100px;
      }

      .lotto-remove-wrapper {
        width: 30px;
      }
    }

    &:nth-child(even) {
      background-color: #71aaf5;
    }
  }

  .summary-lotto-row {
    background-color: #85d1c7;
    height: 44px;

    .summary-lotto-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0;

      .leading-summary {
        flex: 1;

        font-family: "SukhumvitSet-Bold";
        font-size: 16px;
        line-height: 1.69;
        text-align: left;
        color: #ffffff;

        display: flex;
        align-items: center;
      }

      .trailing-summary {
        flex: 1;
        height: 100%;
        background-color: #b9e4df;

        font-family: "SukhumvitSet-Bold";
        font-size: 16px;
        line-height: 1.69;
        text-align: left;
        color: #777777;

        display: flex;
        align-items: center;
      }

      .trailing-summary-wrapper {
        flex: 1;
        height: 100%;
        background-color: #b9e4df;
        
        padding: 4px;
        display: flex;

        .trailing-summary-value-container {
          flex: 1;
          background-color: white;
          border-radius: 8px;
          padding: 4px;
          padding-right: 8px;

          text-align: left;
          font-family: "SukhumvitSet-Bold";
          font-size: 16px;
          line-height: 1.69;
          color: #777777;
        }
      }
    }

    &:nth-child(even) {
      background-color: #66c6b9;
    }
  }
}

.delete-lotto-button-container {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  outline: hidden;
  cursor: pointer;

  .delete-lotto-button-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}
