.placeholder-numbersets-text {
  font-size: 34px !important;
  line-height: 44px;

  -webkit-transition: opacity 128ms ease-in-out;
  transition: opacity 128ms ease-in-out;
  opacity: 0;

  &.animated {
    opacity: 1;
  }
}

.numbersets-text {
  font-size: 34px !important;
  line-height: 44px;
  letter-spacing: 8px;
  -webkit-transition: transform 512ms ease-out 256ms, opacity 256ms ease-in-out 256ms;
  transition: transform 512ms ease-out 256ms, opacity 256ms ease-in-out 256ms;
  transform: translateY(0);
  opacity: 1;

  &.animated {
    transform: translateY(-50px);
    opacity: 0;
  }
}
