@import "assets/stylesheets/colors";

.transaction-item-container {
  min-height: 59px;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 #00000029;
  background-color: $secondary-bg;
  align-items: center;
  cursor: pointer;
  transition: all 250ms ease-in;

  &:hover {
    background-color: $primary-bg;
  }

  .transaction-name {
    font-family: "SukhumvitSet-Bold";
    font-size: 14px;
    line-height: 20px;
    color: $primary-text;
  }

  .transaction-time {
    font-family: "SukhumvitSet-SemiBold";
    font-size: 10px;
    line-height: 10px;
    color: #c9c9c9;
  }

  .transaction-money {
    font-family: "SukhumvitSet-Bold";
    font-size: 18px;
    line-height: 20px;
    color: #777777;

    &.deposit {
      color: #66c6b9;

      &::before {
        content: "+";
      }

      &.pending {
        color: #ffb751;
      }

      &.failed {
        color: #d10250;
      }
    }
    &.withdraw {
      color: #d10250;

      &::before {
        content: "-";
      }

      &.pending {
        color: #ffb751;
      }

      &.failed {
        color: #d10250;
      }
    }
  }

  .transaction-remaining {
    font-family: "SukhumvitSet-Bold";
    font-size: 10px;
    line-height: 10px;
    color: #c9c9c9;
  }

  .display-transaction-wrapper {
    flex: 1;
  }
}