.breadcrumb-container {
  .breadcrumb-wrapper {
    span.breadcrumb-slash {
      font-size: 20px;
      cursor: default;
      &:hover {
        text-decoration: none !important;
      }
    }
  }
}
