.breadcrumb-container {
  .breadcrumb-wrapper {
    .breadcrumb-slash {
      font-family: "SukhumvitSet-Medium";
      font-size: 20px;
      line-height: 1.93;
      text-align: left;
      color: #777777;
      cursor: pointer;
    }
  }
}
