.home-container {
  min-height: 100vh;
}

.login-container {
  padding-top: 112px;
  box-shadow: 0 0 10px 0 #0000004d;

  .login-logo {
    height: 176px;
  }
}

.ad-image {
  width: 100vw;
  background-color: #d2cecd;
  align-items: center;
  justify-content: center;
  display: flex;

  &::after {
    content: "โฆษณา";
    font-family: "SukhumvitSet-Bold";
    font-size: 20px;
    line-height: 1.35;
    text-align: left;
    color: #ada2a0;
  }
}