@import "assets/stylesheets/colors";

.button-link-text,
.button-link-text-bold {
  &:hover {
    text-decoration: underline;
  }

  &.disabled {
    color: $secondary-text;
    cursor: unset;
    &:hover {
      text-decoration: unset;
    }
  }
  
  &.underline {
    text-decoration: underline;
    &:hover {
      text-decoration: unset;
    }
  }  
}
