@import "assets/stylesheets/colors";

@keyframes blinkBlink {
  0% {
    box-shadow: 0px 20px 60px -30px $primary-text;
  }

  50% {
    box-shadow: 0px 20px 60px -12px $primary-text;
  }

  100% {
    box-shadow: 0px 20px 60px -30px $primary-text;
  }
}

.transaction-list-container {
  padding-top: 112px;
  padding-bottom: 104px;
  position: relative;
  background-color: $primary-bg;
  height: 100vw;
  height: calc(100vh + 112px);


  .transaction-list-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 380px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    background-image: linear-gradient(to bottom, $primary-bg, $primary-blue);
    box-shadow: 0px 20px 60px -30px $primary-text;
    animation: blinkBlink 5s infinite;
  }

  .transaction-list {
    margin-top: 35px;
    height: 67vh;
    overflow: scroll;
  }

  .transaction-list-title-text {
    font-family: "SukhumvitSet-Bold";
    font-size: 24px;
    line-height: 1.13;
    text-align: left;
    color: #fcfcfc;
  }

  .remaining-label {
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background-color: $secondary-blue;

    font-family: "SukhumvitSet-Bold";
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fcfcfc;
  }

  .credit-amount-text {
    font-family: "SukhumvitSet-Bold";
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    color: #fcfcfc;
  }

  .updated-time-text {
    font-family: "SukhumvitSet-Medium";
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #88b8f6;
  }

  .credit-panel-action-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .temprary-button-wrapper {
      display: flex;
      width: 116px;
      height: 32px;
      border-radius: 16px;
      background-color: $secondary-blue;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: 0px 3px 13px -5px $primary-bg;

      &:hover {
        background-color: $primary-blue;
      }

      .temp-icon-button {
        height: unset !important;
        margin-right: 10px;
      }

      .temp-text-button {
        font-family: "SukhumvitSet-Bold";
        font-size: 16px;
        line-height: 1.69;
        text-align: right;
        color: #ffffff;
      }
    }
  }

  .display-date-text {
    font-family: "SukhumvitSet-Medium";
    font-size: 16px;
    line-height: 1.69;
    color: $primary-text;
  }
}

@media screen and (min-width: 1280px) {
  .transaction-list-container {
    .transaction-list-background {
      width: 100%;
      height: 75vh;
      max-width: 1180px;
      margin-left: auto;
      margin-right: auto;
    }

    .container {
      display: flex;

      >.large-screen-container {
        width: 50%;
      }

      >.transaction-list {
        width: 100%;
        margin-top: 47px;
        height: 55vh;
      }
    }
  }
}