

.bet-result-container {
  border-radius: 16px;
  box-shadow: 3px 3px 10px 0 #00000029;
  background-color: #fcfcfc;

  .bet-result-label-text {
    font-family: "SukhumvitSet-Bold";
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #3e3e3e;
  }
  
  .bet-result-value {
    font-family: "SukhumvitSet-Bold";
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #065bc9;
  }  
}

.played-game-container {
  border-radius: 16px;
  box-shadow: 3px 3px 10px 0 #00000029;
  background-color: #fcfcfc;
  overflow: hidden;

  .played-game-title-wrapper {
    height: 76px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .played-game-title {
      font-family: "SukhumvitSet-Bold";
      font-size: 24px;
      line-height: 24px;
      text-align: left;
      color: #777777;
    }
  }

  .played-game-row {
    background-color: #fcfcfc;

    font-family: "SukhumvitSet-Medium";
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    color: #ada2a0;

    &:nth-child(even) {
      background-color: #efefef;
    }
  }
}