.navbar-container {
  top: 26px;
  height: 56px;
  padding: 16px 0 16px 0;
  background-color: #fcfcfc;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 1;

  .container {
    display: flex;
    flex-direction: row;

    .leading-navbar-container {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      cursor: pointer;

      .logo-container {
        width: 24px;
        height: 24px;
      }

      .name-container {
        padding-left: 8px;
        font-family: "SukhumvitSet-Thin";
        font-size: 18px;
        line-height: 1.5;
        text-align: left;
        color: #8f8080;

        span {
          font-family: "SukhumvitSet-Bold";
          color: #1171ec;
        }
      }
    }

    .trailing-navbar-container {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .burger-container {
        color: #8f8080;
        margin-left: 12px;
        width: 24px;
        height: 24px;
      }
    }
  }

  &.light-mode {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fcfcfc;

    .container > .leading-navbar-container > .name-container {
      color: #8f8080;
      span {
        color: #1171ec;
      }
    }

    .container > .trailing-navbar-container > .burger-container {
      color: #8f8080;
    }
  }

  &.dark-mode {
    box-shadow: 0 1px 6px 0 #00000029;
    background-color: #065bc9;

    .container > .leading-navbar-container > .name-container {
      color: white;
      span {
        color: white;
      }
    }

    .container > .trailing-navbar-container > .burger-container {
      color: white;
    }
  }

  &.darker-mode {
    box-shadow: unset;
    background-color: #222529;

    .container > .leading-navbar-container > .name-container {
      color: white;
      span {
        color: white;
      }
    }

    .container > .trailing-navbar-container > .burger-container {
      color: white;
    }
  }
}

.credit-badge-wrapper {
  border-radius: 16px;
  background-image: linear-gradient(179deg, #3587f1 2%, #065bc9 98%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;

  .credit-badge-text {
    .font-awsome-creditbadge {
      margin-right: 4px;
    }
    font-family: "SukhumvitSet-Bold";
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    color: #ffffff;
  }

  &.light-mode {
    background-image: linear-gradient(179deg, #3587f1 2%, #065bc9 98%);

    .credit-badge-text {
      color: #ffffff;
    }
  }

  &.dark-mode {
    background-image: unset;
    background-color: white;

    .credit-badge-text {
      color: #1171ec;
    }
  }

  &.darker-mode {
    background-image: unset;
    background-color: #2b2e32;

    .credit-badge-text {
      color: #8d8d8d;
    }
  }
}
