@import "assets/stylesheets/colors";

.navbar-container {
  top: 26px;
  height: 56px;
  padding: 12px 0;
  background-color: $primary-bg;
  box-shadow: unset;
  z-index: 1;

  .container {
    display: flex;
    flex-direction: row;

    .leading-navbar-container {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      cursor: pointer;

      .logo-container {
        height: 32px;
      }

      .name-container {
        font-family: "SukhumvitSet-Thin";
        span {
          font-family: "SukhumvitSet-Bold";
        }
      }
    }

    .trailing-navbar-container {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .burger-container {
        cursor: pointer;
        color: $primary-text;
        margin-left: 12px;
        width: 24px;
        height: 24px;
      }
    }
  }

  &.light-mode {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: $primary-text;

    .container > .leading-navbar-container > .name-container {
      color: $primary-text;
      span {
        color: $primary-blue;
      }
    }

    .container > .trailing-navbar-container > .burger-container {
      color: $primary-text;
    }
  }

  &.dark-mode {
    box-shadow: unset;
    background-color: $primary-bg;

    .container > .leading-navbar-container > .name-container {
      color: $primary-text;
      span {
        color: $primary-text;
      }
    }

    .container > .trailing-navbar-container > .burger-container {
      color: $primary-text;
    }
  }
}

.credit-badge-wrapper {
  border-radius: 16px;
  background-image: $primary-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;

  &.light-mode {
    background-image: $primary-blue;
  }

  &.dark-mode {
    background-image: unset;
    background-color: $secondary-bg;
  }
}
