.navbar-container {
  height: 56px;
  padding: 16px 0 16px 0;
  background-color: #fcfcfc;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);

  .container {
    display: flex;
    flex-direction: row;

    .leading-navbar-container {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .logo-container {
        width: 24px;
        height: 24px;
        background-color: #dddddd;
      }

      .name-container {
        padding-left: 8px;
        font-family: "SukhumvitSet-Medium";
        font-size: 18px;
        line-height: 1.5;
        text-align: left;
        color: #8f8080;

        span {
          font-family: "SukhumvitSet-Bold";
          color: #1171ec;
        }
      }
    }

    .trailing-navbar-container {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      .burger-container {
        width: 24px;
        height: 24px;
        // background-color: #dddddd;
      }
    }
  }
}
