.lotto-make-container {
  padding-top: 112px;
}

.summary-badge-container {
  position: absolute;
  top: 90px;
  right: 32px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 6px 6px 16px 0 #00000071;
  background-color: #5c9ef4;
  cursor: pointer;
  transition: all 254ms ease-in;

  &:hover {
    background-color: #3772c0;
  }

  .document-image-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  .badge {
    position: absolute;
    top: 0;
    right: -4px;
    padding-left: 8px;
    padding-right: 8px;
    height: 20px;
    border-radius: 10px;
    background-color: #bb130a;

    display: flex;
    justify-content: center;
    align-items: center;
    .badge-text {
      font-family: "SukhumvitSet-bold";
      font-size: 18px;
      line-height: 1.5;
      color: #ffffff;
    }
  }
}

.remaining-time-lotto {
  background-color: #ff5148;
  height: 24px;
  border-radius: 12px;
  padding: 4px 12px;

  font-family: "SukhumvitSet-Bold";
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}
