.placeholder-making-game-number {
  min-width: 210px;
  opacity: 1;
}

.making-game-number-text {
  min-width: 210px;
  letter-spacing: 5px;
  font-size: 32px;
  line-height: 32px;
}

.add-number-action-wrapper {
  width: 100%;
  max-width: 160px;
}

.played-game-container {
  border-radius: 16px;
  box-shadow: 3px 3px 10px 0 #00000029;
  background-color: #fcfcfc;
  overflow: hidden;

  .played-game-title-wrapper {
    height: 76px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .played-game-title {
      font-family: "SukhumvitSet-Bold";
      font-size: 24px;
      line-height: 24px;
      text-align: left;
      color: #777777;
    }
  }

  .played-game-row {
    background-color: #fcfcfc;

    font-family: "SukhumvitSet-Medium";
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    color: #ada2a0;

    &:nth-child(even) {
      background-color: #efefef;
    }
  }
}

.input-game-container {
  background-color: #3587f1;

  .input-game-core {
    height: 50px;
    width: 100%;
    background-color: #3587f1;
    border: none;
    font-family: "SukhumvitSet-Bold";
    font-size: 20px;
    line-height: 1.5;
    text-align: right;
    color: transparent;
    text-shadow: 0 0 0 #ffffffcc;
    padding-left: 12px;
    padding-right: 12px;

    &::placeholder {
      color: #ffffffcc;
    }

    &:focus {
      outline: none;
    }
  }
}
