@import 'assets/stylesheets/colors';
@import 'assets/stylesheets/typography';

.input-text {
  position: relative;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: $primary-text;
    box-shadow: 0 0 0px 1000px $primary-bg inset;
  }
  input::-webkit-input-placeholder { line-height: 28px }
  
  input.input-core {
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
    margin-bottom: 4px;

    @extend .body-1;
    line-height: 28px;

    &:focus {
      & ~ .input-underline {
        border-color: $secondary-blue;
      }
    }

    &::placeholder {
      color: $secondary-text;
    }

    &:disabled {
      background-color: transparent;
      color: $secondary-text;
    }
  }
  
  .input-underline {
    width: 100%;
    height: 0;
    border: solid 1px $primary-text;
  }

  .input-error-message {
    @extend .subtitle-2;
    padding-top: 4px;
    min-height: 24px;
    text-align: left;
    pointer-events: none;
    color: $secondary-red;
    visibility: hidden;
  }

  &.error {
    .input-underline {
      border-color: $secondary-red;
    }
    .input-error-message {
      visibility: visible;
    }
  }
}

// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
