.input-text {
  position: relative;

  input.input-core {
    padding-left: 0;
    outline: none;
    width: 100%;
    font-family: "SukhumvitSet-Medium";
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: #777777;
    border: none;
    margin-bottom: 4px;
    margin-top: 27px;

    &:focus {
      & ~ .input-placehoder-label {
        font-size: 12px;
        line-height: 2.25;
        color: #5c9ef4;
        top: 0px;
        left: 15px;
      }
      & ~ .input-underline {
        border-color: #1171ec;
      }
    }

    &::placeholder {
      color: transparent;
    }

    &:not(:placeholder-shown) {
      & ~ .input-placehoder-label {
        font-size: 12px;
        line-height: 2.25;
        top: 0px;
        left: 15px;
      }
    }
  }

  .input-placehoder-label {
    position: absolute;
    font-family: "SukhumvitSet-Medium";
    text-align: left;
    pointer-events: none;

    transition: all 256ms ease;
    font-size: 18px;
    line-height: 1.5;
    color: #c9c9c9;
    top: 28px;
    left: 16px;
  }

  .input-underline {
    width: 100%;
    height: 0;
    border: solid 1px #c9c9c9;
  }

  .input-error-message {
    font-family: "SukhumvitSet-Medium";
    text-align: left;
    pointer-events: none;
    font-size: 12px;
    line-height: 2.25;
    color: #ff9b96;
    visibility: hidden;
  }

  &.error {
    .input-underline {
      border-color: #ff9b96;
    }
    .input-placehoder-label {
      color: #ff9b96;
    }
    .input-error-message {
      visibility: visible;
    }
  }
}
