@import "assets/stylesheets/typography";

.register-step-2-form {
  span.header-remark {
    @extend .subtitle-2;
    margin-left: 8px;
  }

  .message-icon {
    width: 56px;
    height: 56px;
  }

  span.separator-time {
    &::before {
      content: ":";
    }
    padding-left: 8px;
    padding-right: 8px;
  }
}
