@import "assets/stylesheets/colors";

.button-menu-container {
  padding: 12px;
  cursor: pointer;
  transition: all 256ms ease-in-out;

  min-height: 92px;
  border-radius: 4px;
  background-color: $secondary-bg;

  &.disabled {
    cursor: default;
    background-color: $primary-bg;

    &:hover {
      background-color: $primary-bg;
      .title-text-button,
      .icon-button-menu,
      .chevron-icon-container {
        transform: unset;
        color: $primary-text;
      }
    }
  }

  &:hover {
    background-color: $primary-text;
    .title-text-button {
      transform: translateY(-2px);
      color: $primary-bg;
    }

    .icon-button-menu {
      transform: translateY(2px);
    }
  }

  .icon-wrapper {
    flex: 2;
    .icon-button-menu {
      transition: all 256ms linear;
      width: 60px;
      height: 60px;
      object-fit: fill;
    }
  }

  .chevron-icon-button {
    font-size: 16px;
    margin-left: 4px;
  }

  .title-text-button {
    transition: all 256ms linear;
    margin-top: 16px;
    color: $primary-text;
  }
}
