.lotto-main-container {
  padding-top: 112px;

  .lotto-card-wrapper {
    padding: 16px 20px;
    border-radius: 10px;
    box-shadow: 0 6px 20px 0 #777777;
    background-color: #ffffff;

    .lotto-name-lebel {
      font-family: "SukhumvitSet-Bold";
      font-size: 20px;
      line-height: 1.35;
      text-align: left;
      color: #777777;
    }
  }
}
