@import "./colors.scss";

.force-unset-headline {
  margin: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  font-weight: unset;
}

h1 {
  font-family: "SukhumvitSet-Light";
  font-size: 36px;
  line-height: 40px;
  color: $primary-text;
  @extend .force-unset-headline;
}

h2 {
  font-family: "SukhumvitSet-Bold";
  font-size: 26px;
  line-height: 30px;
  color: $primary-text;
  @extend .force-unset-headline;
}

h3 {
  font-family: "SukhumvitSet-SemiBold";
  font-size: 22px;
  line-height: 26px;
  color: $primary-text;
  @extend .force-unset-headline;
}

h4 {
  font-family: "SukhumvitSet-SemiBold";
  font-size: 18px;
  line-height: 22px;
  color: $primary-text;
  @extend .force-unset-headline;
}

h5 {
  font-family: "SukhumvitSet-SemiBold";
  font-size: 16px;
  line-height: 20px;
  color: $primary-text;
  @extend .force-unset-headline;
}

h6 {
  font-family: "SukhumvitSet-Bold";
  font-size: 14px;
  line-height: 18px;
  color: $primary-text;
  @extend .force-unset-headline;
}

.body-1 {
  font-family: "SukhumvitSet-Text";
  font-size: 18px;
  line-height: 20px;
  color: $primary-text;
}

.body-2 {
  font-family: "SukhumvitSet-Text";
  font-size: 16px;
  line-height: 18px;
  color: $primary-text;
}

.subtitle-1 {
  font-family: "SukhumvitSet-Text";
  font-size: 16px;
  line-height: 18px;
  color: $primary-text;
}

.subtitle-2 {
  font-family: "SukhumvitSet-Medium";
  font-size: 14px;
  line-height: 16px;
  color: $primary-text;
}

.button-link-text {
  font-family: "SukhumvitSet-SemiBold";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  color: $primary-text;
  cursor: pointer;
}

.button-link-text-bold {
  font-family: "SukhumvitSet-Bold";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  color: $primary-text;
  cursor: pointer;
}
